@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

@font-face {
  font-family: Helvetica;
  src: url(../../font/Helvetica-Font/Helvetica.ttf);
}

input{
  font-weight: 200;
}

.Login-Background{
  background-color: #f7f6fa;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
  transform: translateY(0vh);
  transition: all 300ms ease-in-out;
}

.Error-Message-Login{
  color: red;
  font-size: 12px;
  line-height: 20px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.shape1{
  position: absolute;
  /* border: 1px solid black; */
  left: -10em;
  top: -20em;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  /* border-radius: 100% 0% 100% 0% / 48% 48% 52% 52% ; */
  background-color: #ffbead;
  z-index: -1;
}

.shape2{
  position: absolute;
  /* border: 1px solid black; */
  right: -20em;
  bottom: -30em;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  /* border-radius: 100% 0% 100% 0% / 48% 48% 52% 52% ; */
  background-color: #ffbead;
  z-index: -1;
  transform: rotate(250deg);
}

.Login-Box{
  width: 60vw;
  height: 75vh;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 5px rgb(228, 228, 228);
}

.Login-Box-Content{
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Login-Box-Content .Content{
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Login-Box-Content .Design{
  /* border: 2px solid #e5e8ee; */
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-image: url("../assets/DNA.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.Content-Box{
  /* border: 1px solid black; */
  width: 280px;
  height: 370px;
}

.sign-up-decor{
  color: var(--pink);
  font-weight: bold;
}

.sign-up-decor:hover{
  text-decoration: underline;
  cursor: pointer;
}

.WelcomeImg{
  width: 27.5px;
  height: 27.5px;
  margin-left: .5em;
  margin-bottom: .5em;
}

.Text-Box{
  display: flex;
  align-items: center;
}

.Text-Box .text{
  font-weight: bold;
  font-size: 20px;
  color: var(--pink);
}

.Welcome-Message{
  margin-top: 1em;
  font-size: 12px;
  letter-spacing: .5px;
  color: #3c3c3c;
}

.email-password{
  /* border: 1px solid black; */
  margin-top: 2em;
  width: 232px;
}

.email{
  font-size: 10px;
}

.email-input{
  width: 230px;
  height: 32px;
  border-radius: 7.5px;
  /* border: 1px solid #7c998e; */
  border: 1px solid #3c3c3c;
  /* background-color: #f6fffc; */
  background-color: #e5e8ee;
  font-size: 10px;
  padding-left:10px;
  margin-top: .3em;
}

.password{
  font-size: 10px;
  margin-top: 1.25em;
}

.password-input{
  width: 230px;
  height: 32px;
  border-radius: 7.5px;
  /* border: 1px solid #7c998e; */
  border: 1px solid #3c3c3c;
  /* background-color: #f6fffc; */
  background-color: #e5e8ee;
  font-size: 10px;
  padding-left:10px;
  margin-top: .3em;
}

.password-input:focus,
.email-input:focus {
  outline: none;
}

.Forgot-Password{
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 10px;
  margin-top: 1em;
  text-decoration: underline;
}

.Forgot-Password:hover{
  cursor: pointer;
}

.Sign-In-Container{
  width: 230px;
  height: 32px;
  border-radius: 5px;
  background-color: var(--pink);
  font-size: 12px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.Sign-In-Container:hover,
.Google-SignIn:hover,
.Facebook-SignIn:hover{
  cursor: pointer;
}

.Google-SignIn{
  width: 230px;
  height: 35px;
  border-radius: 5px;
  background-color: #f3f9fa;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.Google-SignIn > *{
  margin-right: 1.1em;
}

.Facebook-SignIn{
  width: 230px;
  height: 35px;
  border-radius: 5px;
  background-color: #f3f9fa;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.SignUp-request{
  /* border: 1px solid black; */
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
}


.GoogleImg{
  width: 20px;
  height: 20px;
  margin-right: .5em;
}

.Or-container{
  /* border: 1px solid black; */
  margin-top: 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 8px;
  color: #617882;
  margin-bottom: 2em;
}

.line-OR{
  border-top: 1px solid #e0eaec;
  width: 95px;
}

