.disable{
  pointer-events: none;
  color: #e249fa;
}

.SampleSetOne,
.SampleSetTwo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.SampleSetTwo{
  margin-top: 2em;
}

.noscroll{
  overflow: hidden !important;
}

.pinkColor{
  color: var(--pink);
}

.ReactMultiSelect-container .text,
.Samples_BoxPlot_Control_Container .text{
  font-size: 13px;
  font-weight: bold;
  position: relative;
}

.ReactMultiSelect-container .text::before,
.Samples_BoxPlot_Control_Container .text::before{
  content: "";
  /* border: 1px solid black; */
  background-color: #5156bc;
  position: absolute;
  left: -.5em;
  top: -.1em;
  width: 3px;
  height: 15px;
}

.custom-modebar .modebar {
  top: 0px !important; 
  right: 25px !important; 
  left: auto !important;
  bottom: auto !important;
}

.Exp-SubCategory-list{
  /* border: 1px solid black; */
  width: max-content;
  position: relative;
  color: #8386a0;
}

.Exp-SubCategory-list.clicked{

  color: #000000;
}

.Exp-SubCategory-list:hover{
  cursor: pointer;
}


.Exp-SubCategory-list.clicked::after{
  content: "";
  width: 100%;
  height: 3px;
  background-color: #5156bc;
  position: absolute;
  left: 0;
  top: 1.5em;
}

.GoToProjBtn{
    font-size: .75rem;
    padding: 5px;
    color: white;
    border-radius: 5px;
    border: 1px solid #05689f;
    color: #05689f;
    transition: all 200ms ease-in-out;
}

.GoToProjBtn:hover{
    cursor: pointer;
    background-color: #05689f;
    color: white;
}

.Right-Arrow-Header{
  width: 22.5px;
  height: 22.5px;
}

.SelectedExpTitle{
  /* font-size: 18px; */
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1.2px;
}

.Project-Text-Container{
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0px;
  transition: all 300ms ease-in-out;
}

.Project-Text{
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

.Project-Text:hover{
  text-decoration: underline;
  cursor: pointer;
}

.project-information-container{
  width: 100%;
  height: 75vh;
  margin-top: 1.5em;
}

.project-information{
  width: 100%;
  height: calc(100%);
  background-color: var(--white);
  border-radius: 20px;
  padding: 25px;
  padding-top: 0px;
  box-shadow: 0px 0px 10px 1px #d7dbe1;
}

.project-information-content{
  width: 100%;
  height:100%;
  /* border: 1px solid black; */
}

.project-information-title{
  /* border: 1px solid red; */
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-information-title .text{
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: .7px;
}

.project-information-inside{
  /* border: 1px solid blue; */
  width: 100%;
  height: calc(100% - 65px);
  border-radius: 10px;
  background-color: #f2f5fa;
}

.No-ProjectCard-Selected-container{
  height: 100%;
}


.No-ProjectCard-Selected{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid black; */
  height: 100%;
  padding: 10px;
  gap: 1em;
}

.No-ProjectCard-Selected .text{
  color: #d0d4da;
  font-size: 1.25rem;
  font-weight: bold;
}

.ProjectCard-Selected{
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.ProjectCard-Name{
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .25em;
}

.ProjectCard-Owner,
.ProjectCard-CreatedON,
.ProjectCard-LastModified{
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.ProjectCard-Desc{
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.ProjectCard-Name .text,
.ProjectCard-Desc .text,
.ProjectCard-Owner .text,
.ProjectCard-CreatedON .text,
.ProjectCard-LastModified .text{
  font-weight: bold;
  font-size: 14px;
  
}

.ProjectCard-Desc .text{
  margin-top: .5em;
}

.ProjectCard-Name .input,
.ProjectCard-Owner .input,
.ProjectCard-CreatedON .input,
.ProjectCard-LastModified .input{
  width: 250px;
  height: 25px;
  border-radius: 5px;
  border: none;
  font-size: .75rem;
  padding-left: 10px;
  color: var(--nav-logo-color);
  font-weight: bold;
}

.ProjectCard-Name .input{
  margin-left: 1em;
}

.ProjectCard-Desc .textarea{
  margin-left: 1em;
  color: var(--nav-logo-color);
  font-weight: bold;
}

.ProjectCard-Owner .input{
  margin-left: 1em;
}

.ProjectCard-CreatedON .input{
  margin-left: .3em;
}

.ProjectCard-LastModified .input{
  margin-left: -.1em;
}

.ProjectCard-Desc .textarea{
  width: 250px;
  height: 100px;
  border-radius: 5px;
  border: none;
  resize: none;
  font-size: 12px;
  padding: 10px;
}

.EditImg,
.EditImgDesc{
  width: 18px;
  height: 18px;
}

.EditImgDesc{
  margin-top: .3em;
}

.line-Proj-Info{
  border-top: .1px solid var(--nav-logo-color);
  width: calc(100% - 11rem);
}

.Delete-Img,
.Delete-Img-Red{
    width: 20px;
    height: 20px;
    margin-left: .5em;
}

.Delete-Img:hover{
    cursor: pointer;
}

.delete-container {
  position: relative;
  display: inline-block;
}
  
.Delete-Img {
  display: block;
}

.Delete-Img-Red {
  display: none;
}

.delete-container:hover .Delete-Img {
  display: none;
}

.delete-container:hover .Delete-Img-Red {
  display: block;
}

.RunAnalysis-Popup,
.ProjDeletion-Popup,
.ExpDeletion-Popup,
.DemoProjDeletion-Popup,
.DemoExpDeletion-Popup,
.DemoExpCreation-Popup,
.InfoProjCreation-Popup{
  height: 400px;
  width: 450px;
  padding: 10px;
  background: white;
  /* border: 1px solid black; */
  box-shadow: .5px .5px 20px 15px rgb(215, 215, 215);
  border-radius: 20px;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: -200%;
  opacity: 0;
  transform: translate(-50%,-50%) scale(0.5);
  transition: opacity 300ms ease-in-out, top 1000ms ease-in-out, transform 1000ms ease-in-out;
  z-index: 500;
}

.RunAnalysis-Popup.active,
.ProjDeletion-Popup.active,
.ExpDeletion-Popup.active,
.DemoProjDeletion-Popup.active,
.DemoExpDeletion-Popup.active,
.DemoExpCreation-Popup.active,
.InfoProjCreation-Popup.active{
  opacity: 1;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%) scale(1);
  transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}


.Delete-Icon{
  /* border: 1px solid black; */
  border-radius: 20px;
  height: 65%;
  background-color: #f2f5fa;
  /* padding: 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
}



.Dotted-Circle{
  border: 2px dashed #e1e4e9;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  /* padding: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.Inner-Dark-Circle{
  /* border: 1px solid black; */
  height: 160px;
  width: 160px;
  border-radius: 50%;
  background-color: #ebeef3;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 20px; */
}

.Outer-Circle{
  /* border: 1px solid black; */
  height: 125px;
  width: 125px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Inner-Circle{
  /* border: 1px solid black; */
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: .5px .5px 10px 1px rgb(215, 215, 215);
}

.Wrong-Img,
.Add-Img,
.Exp-Img{
  width: 60px;
  height: 60px;
}

.Add-Img{
  width: 80px;
  height: 80px;
}

.Tick{
  width: 70px;
  height: 70px;
}

.Delete-content{
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1em;
  height: 110px;
}

.Delete-content .title{
  font-size: 1.125rem;
  font-weight: bold;
}

.Delete-content .content{
  font-size: .938rem;
  color: #444444;
}

.Yes-No-Container{
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  font-size: .938rem;
  margin-top: 1em;
}

.No-Container,
.Yes-Container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}

.Yes-Container{
  background-color: #eb0201;
  color: white;
}

.No-Container{
  border: 1px solid #444444;
  color: #444444;
}

.Yes-Container:hover{
  cursor: pointer;
}

.No-Container:hover{
  background-color: #444444;
  color: white;
  cursor: pointer;
}

/********************************************************************************* Go to Project Page **********************************************************************/

.content-middlebar-exp{
  z-index: 100;
}

.content-middlebar-exp,
.content-middlebar-gotoexp{
  /* border: 1px solid rgb(238, 2, 2); */
  height: 92%;
  position: absolute;
  left: 0;
  top: 3.8em;
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  transition: all 600ms ease-in-out ;
  width: 100%;
}

.content-middlebar-exp.transform,
.content-middlebar-gotoexp.transform{
  transform: translateX(0%);
  opacity: 1;
  visibility: visible;
}

.content-middlebar-gotoexp{
  /* border: 1px solid black; */
  background-color: #e9edf2;
  z-index: 200;
}

.Exp-Type-Container,
.Exp-SubCategory-Container{
  /* border: 1px solid black; */
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Exp-VisualRep-Container{
  /* border: 1px solid red; */
  width: 100%;
  height: 81.7vh;
}

.Exp-VisualRep-Container .container
{
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  /* border: 1px solid green; */
  transform: translateX(100%);
  transition: all 600ms ease-in-out;
  padding: 10px 0px 0px 0px;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  /* left: 0; */
  /* top: 3.5em; */
}

.Component-Container{
  /* border: 1px solid violet; */
  width: 100%;
}


.Comp.setMargin{
  margin-top: 3em;
}

.setMarginAlternate{
  margin-top: 3em;
  height: 100%;
}

.Exp-VisualRep-Container .container.clicked
{
  width: 100%;
  height: 94%;
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
}

.Edit-Container{
  /* border: 1px solid black; */
  width: 325px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: white;
  box-shadow: 0px 0px 10px 1px #d7dbe1;
  transform: translateX(100%);
  border-radius: 10px;
  z-index: 200;
  padding: 25px;
  padding-top: 0px;
  visibility: hidden;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.Edit-Container.clicked{
  transform: translateX(0%);
  visibility: visible;
  opacity: 1;
}

.Notes-Comp{
  border: 1px solid black;
  width: 100%;
  height: min-content;
}

.Edit-Header-Container,
.Note-Header-Container{
  width: 100%;
  height: 65px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Edit-Content-Container{
  /* border: 1px solid black; */
  width: 100%;
  height: 90%;
  background-color: #F3F5FB;
  padding: 25px;
  border-radius: 10px;
}

.Notes-Container{
  width: 100%;
  height: 0%;
  /* border: 1px solid black; */
  /* background-color: #dbe1eb; */
  /* box-shadow: 0px 0px 10px 1px #d7dbe1; */
  transform: translateY(-200%);
  padding: 0px;
  margin-top: 0em;
  margin-bottom: 0em;
  visibility: hidden;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.Notes-Container.clicked{
  /* width: 100%; */
  height: min-content;
  transform: translateY(0%);
  visibility: visible;
  opacity: 1;
  margin-top: 1.5em;
  margin-bottom: 0em;
  padding: 25px;
  padding-top: 0px;
}

.Notes-Container.clicked .Notes-Content-Container{
  width: 100%;
  height: min-content;
  padding: 10px;
  border-radius: 10px;
  /* border: 1px solid black; */
  line-height: 27px;
  font-size: 14px;
  transform: translateY(0%);
  opacity: 1;
  visibility: visible;
  transition: all 600ms ease-in-out;
}

.Notes-Container .Notes-Content-Container{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
}

.Notes-Container.clicked .Note-Header-Container{
  transform: translateY(0%);
  opacity: 1;
  visibility: visible;
  transition: all 600ms ease-in-out;
}

.Notes-Container .Note-Header-Container{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
}

.Exp-Type
{
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  color: #8386a0;
}

.Exp-SubCategory{
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  color: #000000;
  height: 100%;
  width: 100%;
}

.SubCategory-Container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* border: 1px solid red; */
}

.SubCategory-Container > div:not(:first-child)
{
  margin-left: 3em;
}

.Exp-Type-Check{
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
}


.ExpTypeCheckImg{
  width: 18px;
  height: 18px;
  border: 1px solid var(--pink);
  border-radius: 50%;
  margin-right: .5em;
}

.Exp-Type-Check.checked > p{
  color: black;
}

.Exp-Type-Check:hover{
  cursor: pointer;
}

.gray-circle{
  width: 18px;
  height: 18px;
  /* border: 1px solid #c9cfda; */
  background-color: #c9cfda;
  border-radius: 50%;
  margin-right: .5em;
}

.Exp-Type > div:not(:first-child){
  margin-left: 4em;
}

.line-ExpType{
  border-top: .1px solid var(--nav-logo-color);
  width: calc(100% - 65em);
}

.line-ExpSubCategory-ExpSetup{
  border-top: .1px solid var(--nav-logo-color);
  width: 75%;
}

.line-ExpSubCategory-Samples{
  border-top: .1px solid var(--nav-logo-color);
  width: 55%;
}

.line-Edit-Analysis{
  border-top: .1px solid var(--nav-logo-color);
  width: 45%;
}

.line-Notes{
  /* border-top: 3px solid #5156bc; */
  border-top: 3px solid #BD4BBB;
  width: 73%;
}

.Edit-Analysis,
.Notes{
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: .7px;
}


.BackArrow-img,
.BackArrow-img2{
  width: 16px;
  height: 16px;
}

.FrontArrow-img{
  width: 16px;
  height: 16px;
  transform: rotate(180deg);
}

.BackArrow-img{
  margin-left: 1em;
  transform: translateX(0%);
  opacity: 1;
  visibility: visible;
  transition: all 200ms ease-in-out;
}

.BackArrow-img.hovered{
  transform: translateX(-100%);
  visibility: hidden;
  opacity: 0;
}

.BackArrow-img2{
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  transition: all 400ms ease-in-out;
}

.BackArrow-img2.hovered{
  transform: translateX(0%);
  opacity: 1;
  visibility: visible;
  margin-left: -2em;
}


.BackToProjectsPage,
.BackToExptsPage{
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: .5em; */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--white);
  overflow: hidden;
}

.BackToProjectsPage:hover,
.BackToExptsPage:hover,
.Close-EditContainer:hover{
  cursor: pointer;
}

.Close-EditContainer,
.Close-NotesContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e6e6e6;
  overflow: hidden;
}

.Back-DeleteProj-Container,
.Back-DeleteExp-Container{
  display: flex;
  align-items: center;
}

.Delete-Img-ExpPage{
  width: 15px;
  height: 15px;
}

.Delete-Proj-ExpPage,
.Delete-Exp-ExpPage,
.Edit-Analysis-Btn,
.Notes-Btn,
.Notes-Btn-Alternate{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 120px;
  height: 30px;
  font-size: .75rem;
  color: var(--nav-logo-color);
  border-radius: 30px;
  margin-left: .5em;
  padding: 0px 7px;
}

.Delete-Exp-ExpPage{
  width: 150px;
}

.Edit-Analysis-Btn{
  position: absolute;
  right: 0em;
  top: .5em;
  width: 100px;
}

.Notes-Btn{
  position: absolute;
  right: 9em;
  top: .5em;
  width: 100px;
}

.Notes-Btn-Alternate{
  position: absolute;
  right: 0em;
  top: .5em;
  width: 100px;
}

.Delete-Proj-ExpPage:hover,
.Delete-Exp-ExpPage:hover,
.Edit-Analysis-Btn:hover,
.Notes-Btn:hover,
.Notes-Btn-Alternate:hover{
  cursor: pointer;
}


.NoExp-Container{
  /* border: 1px solid black; */
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: .938rem;
  letter-spacing: .5px;
  font-weight: bold;
}

.Experiments-List-Container{
  /* border: 1px solid rgb(229, 0, 0); */
  width: 100%;
  height: calc(100% - 3.3rem);
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.Experiments-List-Container .containerExp {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5em;
  width: 100%; 
  max-width: 1350px; 
  overflow-y: auto;
  height: 480px;
  padding: 1em;
  overflow-x: hidden;
  scrollbar-width: none;
  justify-content: center; 
}

.NewExperiment-Container,
.Experiment-Container{
  /* border: 1px solid blue; */
  min-width: 300px;
  min-height: 450px;
  border-radius: 20px;
  background-color: white;
  padding: 10px;
  box-shadow: 10px 10px 20px -5px rgb(208, 204, 204);
}

.NewExp-Icon,
.Exp-Icon{
  border-radius: 20px;
  height: 250px;
  background-color: #f2f5fa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CreateExp-Content{
  /* border: 1px solid black; */
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0px;
}

.CreateExp-Content .title{
  font-size: .938rem;
  font-weight: bold;
  margin-bottom: 0px;
}

.CreateExp-Content .content{
  font-size: .813rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.CreateExp-Content .create{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin-left: .5em;
  padding: 10px;
  border-radius: 30px;
  font-size: .75rem;
  background-image: linear-gradient(var(--pink), var(--pink-alternate));
  color: var(--white);
  width: 100px;
  box-shadow: 0 10px 25px -12px var(--pink);
  letter-spacing: .7px;
}

.CreateExp-Content .GotoExperiment{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin-left: .5em;
  padding: 10px;
  border-radius: 30px;
  font-size: .75rem;
  background-image: linear-gradient(#5156bc, #686ff0);
  color: var(--white);
  width: 150px;
  box-shadow: 0 10px 25px -12px #5156bc;
  letter-spacing: .7px;
}

.CreateExp-Content .GotoExperiment:hover,
.CreateExp-Content .create:hover{
  cursor: pointer;
}

.Exp-Description{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .25em;
}

/********************************************************************************* Go to Project Page **********************************************************************/


/********************************************************************************* Go to Experiment Page **********************************************************************/


.Exp-Main-Category-Container{
  width: 0px;
  height: 95vh;
  border-radius: 20px;
  margin-left: -1em;
  background-color: #f7fafe;
  transform: translateX(-100%);
  padding: 60px 20px;
  visibility: hidden;
  opacity: 0;
  /* margin-right: 4em; */
  transition: all 600ms ease-in-out;
  position: absolute;
  left: 7.5em;
}

.Exp-Main-Category-Container.GoToExp{
  width: 120px;
  transform: translateX(0%);
  visibility: visible;
  opacity: 1;
}

.Exp-Main-Category-Content{
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  margin-top: 2.5ƒem;
}

.Exp-Main-Category-Content .text{
  height: 50px;
  color: #1a1c21;
  font-size: 11px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}



.Exp-Main-Category-Content .title{
  /* border:1px solid blue; */
  width: 100%;
  height: calc(100% - 50px);
  margin-top: .7em;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.Exp-Main-Category-Content .title > div{
  /* border: 1px solid black; */
  width: 80px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

.Exp-Main-Category-Content .title > div .circle{
  /* border: 1px solid red; */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 4px 5px 1px rgb(187, 187, 187);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease-in-out;
  z-index: 2;
}


.Exp-Main-Category-Content .title > div .circle.hovered
{
  cursor: pointer;
  box-shadow: 0px 1px 5px 2px #5156bc;
}

.Exp-Main-Category-Content .title > div .circle-outer{
  position: absolute;
  left: .46em;
  top: -.47em;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: white;
  /* border: 1px solid black; */
  box-shadow: 0px 4px 5px 1px rgb(187, 187, 187);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: all 200ms ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.Exp-Main-Category-Content .title > div .circle-outer.hovered{
  opacity: 1;
  visibility: visible;
}

/* .Exp-Main-Category-Content .title > div .circle-outer.clicked{
  box-shadow: 0px 0px 5px 2px #5156bc;
} */

.Exp-Main-Category-Content .title > div .circle-outer:hover{
  cursor: pointer;
}

.Exp-Main-Category-Content .title > div .text-category{
  margin-bottom: 1em;
}

.Exp-Main-Category-Content .title > div .text,
.Exp-Main-Category-Content .title > div .text-category
{
  font-size: 9px;
  height: max-content;
  /* margin-top: 1em; */
  font-weight: bold;
  color: #3e4146;
}

.Exp-Main-Category-Content .title > div .text-category.hovered{
  color: #5156bc;
}

.Exp-Main-Category-Img,
.Exp-Main-Category-Img3{
  width: 30px;
  height: 30px;
}

.Exp-Main-Category-Img{
  display: block;
  transition: all 200ms ease-in-out;
}

.Exp-Main-Category-Img.hovered{
  display: none;
}

.Exp-Main-Category-Img2{
  display: block;
  transition: all 200ms ease-in-out;
}

.Exp-Main-Category-Img2.hovered{
  display: none;
}

.Exp-Main-Category-Img3{
  display: none;
  transition: all 200ms ease-in-out;
}

.Exp-Main-Category-Img3.hovered{
  display: block;
}

.Exp-Main-Category-Img2,
.Exp-Main-Category-Img3.size-changes{
  width: 25px;
  height: 25px;
}

/********************************************************************************* Go to Experiment Page **********************************************************************/






