@font-face {
  font-family: Helvetica;
  src: url(../../font/Helvetica-Font/Helvetica.ttf);
}

* {
  /* color: #fff; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Helvetica, sans-serif; */
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale; 
}

:root{
  --background-color:#e9edf3;
  --white:#ffffff;
  --nav-logo-color:#8588a1;
  /* --pink:#ff006a; */
  /* --pink:#ff2200; */
  --pink:#ff5a1f;
  --pink-alternate:#fd7442;
  --darker-grey:#d9dfe9;
}

.background{
  
  background-color: var(--background-color);
  position: relative;
  overflow: hidden;
}

.bg-main-container{
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.d-no{
  display: none;
}

.flex{
  display: flex;
}

.ai-c{
  align-items: center;
}

.jc-c{
  justify-content: center;
}

.jc-sb{
  justify-content: space-between;
}

.jc-sa{
  justify-content: space-around;
}

.jc-se{
  justify-content: space-evenly;
}


/*************************************************************** Navigation Bar **********************************************************************/

.navbar{
  width: 17em;
  height: 95vh;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0px 0px 10px 1px #d7dbe1;
  transition: all 600ms ease-in-out;
  position: relative;
}

.navbar.GoToExp{
  width: 4.5em;
}

.compressed-navbar{
  width: 4.5em;
  height: 95vh;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 1px #d7dbe1;
  transition: all 600ms ease-in-out;
  border: 1px solid black;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}

.navbar .navbar-contents .nav-text{
  opacity: 1;
  visibility: visible;
  transition: all 600ms ease-in-out;
}

.navbar.GoToExp .navbar-contents .nav-text.GoToExp{
  opacity: 0;
  visibility: hidden;
}

.company-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  height: 20%;
}

.company-logo-img{
  width: 125px;
  height: 125px;
}

.company-logo-img.GoToExp{
  width: 60px;
  height: 60px;
}

.navbar-contents{
  /* border: 1px solid blue; */
  height: 80%;
  padding: 0 15px;
}

.navbar-home,
.navbar-team,
.navbar-fav,
.navbar-project{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  border-radius: 30px;
  padding: 0 10px;
  transition: all 200ms ease-in-out;
}

.navbar-home:hover,
.navbar-team:hover,
.navbar-fav:hover,
.navbar-project:hover{
 cursor: pointer;
 /* background-color: var(--background-color); */
}

.navbar-home:hover .nav-text,
.navbar-team:hover .nav-text,
.navbar-fav:hover .nav-text,
.navbar-project:hover .nav-text{
 color: var(--pink);
}

.navbar-home:hover .right-arrow-img,
.navbar-team:hover .right-arrow-img,
.navbar-fav:hover .right-arrow-img,
.navbar-project:hover .right-arrow-img,
.navbar-home:hover .home-logo-img,
.navbar-team:hover .people-logo-img,
.navbar-fav:hover .star-logo-img,
.navbar-project:hover .project-logo-img
{
  /* filter: invert(35%) sepia(97%) saturate(7418%) hue-rotate(320deg) brightness(97%) contrast(116%); */
  filter: invert(22%) sepia(56%) saturate(4676%) hue-rotate(359deg) brightness(101%) contrast(112%);
}

.right-arrow{
  width: 25px;
  height: 25px;
}

.navbar-home.activated,
.navbar-team.activated,
.navbar-fav.activated
{
  background-color: var(--background-color);
}

.navbar-home.activated .nav-text,
.navbar-team.activated .nav-text,
.navbar-fav.activated .nav-text
{
  color: var(--pink);
}

.navbar-home.activated .home-logo-img,
.navbar-team.activated .people-logo-img,
.navbar-fav.activated .star-logo-img,
.navbar-home.activated .right-arrow-img,
.navbar-team.activated .right-arrow-img,
.navbar-fav.activated .right-arrow-img
{
  /* filter: invert(35%) sepia(97%) saturate(7418%) hue-rotate(320deg) brightness(97%) contrast(116%);  */
  filter: invert(22%) sepia(56%) saturate(4676%) hue-rotate(359deg) brightness(101%) contrast(112%);
}

.right-arrow.GoToExp{
  display: none;
}

.proj-icon-img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  /* object-fit:cover; */
}

.wrong-img{
  width: 30px;
  height: 30px;
}

.home-logo-img,
.people-logo-img,
.star-logo-img,
.project-logo-img
{
  width: 22px;
  height: 22px;
}

.project-logo-container{
  /* border: 1px solid black; */
  position: relative;
}


.Person-img,
.Notify-img,
.searchBar-img{
  width: 16px;
  height: 16px;
}

.options-img{
  width: 20px;
  height: 20px;
}

.filter-img{
  width: 14px;
  height: 14px;
}

.Add-img{
  width: 20px;
  height: 20px;
}

.searchBar-img{
  margin-left: .5em;
}

.navbar-home .nav-text{
  margin-top: .2em;
}

.navbar-team .nav-text{
  margin-top: .1em;
}

.navbar-fav .nav-text{
  margin-top: .1em;
}

.right-arrow-img{
  width: 25px;
  height: 25px;
}

.logo-text{
  display: flex;
  align-items: center;
}

.nav-text{
  font-size: .75rem;
  margin-left: .5em;
  letter-spacing: 1px;
  color: var(--nav-logo-color);
}

.nav-projects-container{
  /* border: 1px solid red; */
  width: 100%;
  height: 50%;
  margin-top: 2em;
}

.nav-project-title{
  text-transform: uppercase;
  font-size: .688rem;
  letter-spacing: .7px;
  color: var(--nav-logo-color);
  width: 100%;
  padding: 0 10px;
  font-weight: bold;
  opacity: 1;
  visibility: visible;
  /* transform: translateY(0vh); */
  transition: all 600ms ease-in-out;
}

.nav-project-title.GoToExp{
  opacity: 0;
  visibility: hidden;
  /* transform: translateY(100vh); */
}

.nav-project-list-container{
  margin-top: 1em;
  height: 23rem;
  overflow-y: scroll;
  scrollbar-width: none;
}

.nav-Import-Btn-container{
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 4em;
}

.nav-Import-Btn{
  border: .5px solid #05689f;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 20px;
  width: 70%;
  font-size: .75rem;
  letter-spacing: .7px;
  color: #05689f;
  transition: all 200ms ease-in-out;
}

.nav-Import-Btn:hover{
  color: var(--white);
  background-color: #05689f;
  cursor: pointer;
}

.LogOutImg{
  width: 25px;
  height: 25px;
}


/*************************************************************** Navigation Bar End **********************************************************************/

/***************************************************************  Main Content **********************************************************************/

.main-content-container{
  /* border: 1px solid rgb(255, 0, 0); */
  width: calc(100% - 19em);
  height: 95vh;
  position: relative;
  transition: all 600ms ease-in-out;
}

.main-content-container.GoToExp{
  width: calc(100% - 15em);
}

.content-topbar{
  /* border: 1px solid blue; */
  height: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5em;
  /* padding-top: .5em; */
}

.content-middlebar{
  /* border: 1px solid violet; */
  position: relative;
  height: 92%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 3em;
  transform: translateX(0%);
  opacity: 1;
  visibility: visible;
  transition: all 600ms ease-in-out;
}

.content-middlebar.transform{
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
}

.Welcome-message > p{
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1.2px;
}

.searchBar-btn-notify-account{
  display: flex;
}

.searchBar{
  display: flex;
  align-items: center;
  font-size: .75rem;
  padding: 7px;
  width: 200px;
  border-radius: 30px;
  height: 30px;
  background-color: var(--darker-grey);
  color: var(--nav-logo-color);
  letter-spacing: .7px;
}

.searchBar p{
  margin-left: .3em;
}

.Invite-Btn{
  margin-left: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .75rem;
  padding: 7px;
  width: 110px;
  border-radius: 30px;
  height: 30px;
  background-color: var(--white);
  color: var(--nav-logo-color);
  letter-spacing: .7px;
}

.Notify{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: .5em;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--white);
}

.Account{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: .5em;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--white);
}


.filter-img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: .5em;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: var(--white);
}

.filter-img-container:hover{
  cursor: pointer;
}

.filter-img-container.activated .filter-img{
  filter: invert(35%) sepia(97%) saturate(7418%) hue-rotate(320deg) brightness(97%) contrast(116%);
}


.filter-newProj{
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
}

.your-projects{
  /* border: 1px solid rgb(4, 0, 255); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateX(0%);
  opacity: 1;
  visibility: visible;
  transition: all 600ms ease-in-out;
}

.your-projects.transform{
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
}

.New-Project-Btn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  /* border: 1px solid rgb(38, 253, 0); */
  margin-left: .5em;
  padding: 10px;
  border-radius: 30px;
  font-size: .75rem;
  /* background-color: var(--pink); */
  background-image: linear-gradient(var(--pink), var(--pink-alternate));
  color: var(--white);
  width: 150px;
  box-shadow: 0 10px 25px -10px var(--pink);
  letter-spacing: .7px;
}

.New-Project-Btn .text{
  margin-left: .5em;
  letter-spacing: 1px;
  font-weight: bold;
}

.New-Project-Btn:hover{
  cursor: pointer;
}

.your-projects .text-proj,
.text-activity{
  font-weight: bold;
  font-size: 1.125rem;
  letter-spacing: .7px;
}

.line{
  border-top: .1px solid var(--nav-logo-color);
  width: calc(100% - 22.5em);
}

.your-projects-list{
  /* border: 1px solid black; */
  width: 100%;
  margin-top: 1.5em;
  height: 75vh;
  overflow-y: scroll;
  scrollbar-width: none; /* For Firefox */
}

.project-box{
  /* border: 1px solid violet; */
  background-color: var(--white);
  border-radius: 20px;
  height: 125px;
  margin-bottom: 1.2em;
  box-shadow: 0px 0px 10px 1px #d7dbe1;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: .7em;
}

.project-box:hover{
  cursor: pointer;
}

.d-no{
  display: none;
}

.hidden{
  visibility: hidden;
}

.filter-box{
  background-color: #d9dfe9;
  border-radius: 20px;
  height: 125px;
  margin-bottom: 1.2em;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  gap: .7em;
}

.filter-box-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.filter-name{
  font-size: .813rem;
  font-weight: bold;
  letter-spacing: .7px;
}

.reset-filter{
  font-size: .813rem;
  font-weight: bold;
  color: var(--pink);
  letter-spacing: .7px;
}

.your-projects-list.activated .filter-box{
  display: block;
  animation: filter-appear .5s ;
  animation-iteration-count: 1;
}

@keyframes filter-appear {
  0%{
    opacity:0;
    transform:translateY(-50%)
  }
  100%{
    opacity:1;
    transform:translateY(0%)
  }
}

.your-projects-list .filter-box{
  display: none;
  animation: filter-disappear 1s ;
  animation-iteration-count: 1;
}

@keyframes filter-disappear {
  from{
    opacity:1;
    transform:translateY(0%)
  }
  to{
    opacity:0;
    transform:translateY(100%)
  }
}

.More-Projects-Container{
  border: 1px solid black;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

.more-proj-line{
  border-top: .1px solid var(--nav-logo-color);
  width: calc(100% - 34em);
}

.filter-line{
  border-top: .1px solid var(--nav-logo-color);
  width: calc(100% - 11em);
}

.date-order-owner{
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  margin-top: 1em;
  height: 60%;
  gap: 1em;
}

.filter-date,
.filter-order,
.filter-owner
{
  /* border: 1px solid red; */
  width: 100%;
  
}

.filter-scroll{
  width: 90%;
  /* border: 1px solid black; */
  margin-top: .4em;
  height: 30px;
  border-radius: 5px;
  background-color: var(--white);
}


.filter-text{
  font-size: .75rem;
  color: #72727a;
  font-weight: bold;
  letter-spacing: .7px;
}

.more-proj-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  font-size:.875rem;
  padding: 10px;
  letter-spacing: .7px;
  border-radius: 30px;
  width: 150px;
  color: var(--nav-logo-color);
}

.Copyrights-Container{
  font-size: .75rem;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--nav-logo-color);
  margin-top: 2.5em;
}

.activity-feed{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: .5em;
}

.line-activity{
  border-top: .1px solid var(--nav-logo-color);
  width: calc(100% - 9em);
}


.activity-feed-content{
  width: 100%;
  height: 85px;
  background-color: #f2f5fa;
  border-radius: 10px;
  margin-top: .7em;
  padding: 15px 30px;
}

.project-img{
  width: 200px;
  border-radius: 20px;
  background-color: #f2f5fa;
}

.project-content{
  /* border: 1px solid red; */
  width: 100%;
  padding: 10px 0;
  padding-left: 10px;
}

.more-options{
  width: 30px;
  position: relative;
}

.project-details{
  /* border: 1px solid black; */
  margin-top: .5em;
  height: 40px;
}

.proj-name{
  font-size: .938rem;
  font-weight: bold;
  letter-spacing: .7px;
}

.proj-desc{
  font-size: .75rem;
  margin-top: .5em;
  color: #3ca05c;
  color: var(--pink);
  text-transform: uppercase;
  /* border: 1px solid black; */
  max-height: 12px;
  overflow: hidden;
}

.project-details{
  display: flex;
}

.ExpNo{
  display: flex;
  /* border: 1px solid red; */
  width: 200px;
  font-size: .75rem;
}

.creation-lastModified{
  margin-left: 1em;
  /* border: 1px solid red; */
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:.4em;
  font-size: .75rem;
}

@media (min-width: 992px) {
  .creation-lastModified{
    margin-left: 1em;
  }
}

@media (min-width: 1800px) {
  .creation-lastModified{
    margin-left: 7em;
  }
}

.owner-expno{
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:.4em;
  font-size: .75rem;
}

.creation-date,
.last-modified-date,
.Owner-Name{
  display: flex;
}

.creation-date,
.last-modified-date{
  /* border: 1px solid black; */
  width: 300px;
}

.projects-values{
  color: var(--nav-logo-color);
}

.icon-content{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.activity-icon{
  display: flex;
  align-items: center;
  background-color: var(--white);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  justify-content: center;
  box-shadow: 0px 0px 10px 1px #d7dbe1;
}

.activity-content{
  /* border: 1px solid red; */
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.content-title{
  font-size: .75rem;
  font-weight: bold;
  color: #ec0100;
  text-transform: uppercase;
  letter-spacing: .7px;
}

.content-content{
  font-size: .75rem;
  color: #74757e;
  line-height: 13px;
}